<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <span>Angular eComm</span>
    </mat-toolbar>
    <mat-nav-list class="nav-links">
      <a mat-list-item [routerLink]="''">Home</a>
      <a mat-list-item [routerLink]="'/products'">Products</a>
      <a mat-list-item [routerLink]="'/stores'">Store Locator</a>
      <a mat-list-item [routerLink]="'/memories'">Memories</a>
      <a mat-list-item [routerLink]="'/help'">Help</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon" class="menu-icon">menu</mat-icon>
      </button>
      <app-headline></app-headline>
      <span class="fill-remaining-space"></span>
      <button 
        type="button" 
        aria-label="account" 
        mat-icon-button 
        color="theme" 
        class="nav-icon"
        [routerLink]="'account'"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
      <button 
        type="button" 
        aria-label="cart" 
        mat-icon-button 
        color="theme" 
        class="nav-icon"
        [routerLink]="'cart'"
      >
        <mat-icon>local_grocery_store</mat-icon>
      </button>
      <button 
        type="button" 
        aria-label="theme" 
        mat-icon-button 
        color="theme" 
        class="nav-icon"
      >
        <mat-icon>settings</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
