<div class="grid-container">
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p style="font-size: 20px; color: white;">Loading...</p>
  </ngx-spinner>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-title>Search for Videos </mat-card-title>
        <br>
        <br> 
        <mat-card-content 
          fxLayout="column"
          fxLayoutAlign="center space-evenly">
          <mat-form-field fxFlex="100">
            <mat-label>Keywords</mat-label>
            <input matInput placeholder="CaughtOnArlo" [(value)]="searchQuery"/>
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <mat-label>Results</mat-label>
            <mat-select [(value)]="maxResults">
              <mat-option *ngFor="let i of options" [value]="i.value">
                {{i.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="dashboard-card-content">
          <button mat-raised-button color="primary" (click)="searchVideos()">Find Videos</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let video of videos" [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <a href="https://www.youtube.com/watch?v={{ video.id.videoId }}">
              {{ video.snippet.title.slice(0, 60) }}
            </a>
          </mat-card-title>
          <mat-card-subtitle>
            {{ video.snippet.channelTitle }} -
            {{ video.snippet.publishedAt.slice(0, 10) }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <a
            href="https://www.youtube.com/watch?v={{ video.id.videoId }}"
            target="_blank"
          >
            <img
              mat-card-image
              [src]="video.snippet.thumbnails.high.url"
              alt="..."
            />
          </a>
          <p>{{ video.snippet.description }}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
