<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card">
      <mat-card-content class="dashboard-card-content">
          <div class="form-group">
            <label>Enter address</label>
            <button (click)="geolocate()">Use My Location</button> 
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content"> </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content"> </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2" *ngIf="lat && lng">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <agm-map
            id="map" 
            [latitude]="lat" 
            [longitude]="lng" 
            [zoom]="zoom">
            <agm-marker
              *ngFor="let m of markers; let i = index"
              [latitude]="m.lat"
              [longitude]="m.lng"
              [label]="m.label"
            >
              <agm-info-window #window>
                <p><strong>Latitude:  </strong>{{this.m.lat}}</p>
                <p><strong>Longitude: </strong>{{this.m.lng}}</p>
              </agm-info-window>
            </agm-marker>
            <agm-circle
              [latitude]="lat" 
              [longitude]="lng"
              [radius]="5000"
              [fillColor]="'red'"
            >
            </agm-circle>
          </agm-map>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
