<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="325px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-title>Search Store Locations</mat-card-title>
        <mat-card-content class="dashboard-card-content">
          <div class="form-group">
            <mat-google-maps-autocomplete
              (onAutocompleteSelected)="onAutocompleteSelected($event)"
              (onLocationSelected)="onLocationSelected($event)"
            >
            </mat-google-maps-autocomplete>
          </div>
          <div class="form-group"
            fxLayout="row"  
            fxFlexFill 
          >  
            <mat-form-field fxFlex="50">
              <mat-label>Search Radius</mat-label>
              <mat-select [(value)]="radius">
                <mat-option *ngFor="let i of options" [value]="i.value">
                  {{i.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="dashboard-card-content" fxFlex="50">
              <mat-slide-toggle [(ngModel)]="showCircle" color="primary">
                Show Radius
              </mat-slide-toggle>
            </div>
            
          </div>
          <div class="form-group">
            <h2><strong>OR</strong></h2>
          </div>
          <div class="form-group">
            <button mat-raised-button color="primary" (click)="geolocate()">Use My Location</button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-title>Nearest Locations</mat-card-title>
        <mat-card-content>
          <mat-accordion
            class="example-headers-align"
          >
            <mat-expansion-panel
              class="panel"
              [expanded]="isFirst"
              *ngFor="
                let m of storeData
                  | async
                  | sortBy: 'asc':'distance'
                  | slice: 0:3;
                let isFirst = first"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h4>{{ m.label }}.</h4>
                </mat-panel-title>
                <mat-panel-description>
                  <h4>{{ m.title }}</h4>
                  <p *ngIf="showStores === true">
                    <strong>{{ m.distance }} miles</strong>
                  </p>
                </mat-panel-description>
              </mat-expansion-panel-header>
                <p>
                  <strong>{{ m.address }}, {{ m.title }}</strong>
                  <button mat-raised-button class="float-right" color="primary">Get Directions</button>
                </p>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-content>
          <agm-map
            id="map"
            [latitude]="currentPlace.lat"
            [longitude]="currentPlace.lng"
            [zoom]="zoom"
          >
            <agm-marker
              *ngFor="let m of markers; let i = index"
              [latitude]="m.lat"
              [longitude]="m.lng"
              [label]="m.label"
            >
              <agm-info-window #window>
                <p>{{ this.m.address }}</p>
                <p>
                  <strong>{{ this.m.title }}</strong>
                </p>
              </agm-info-window>
            </agm-marker>
            <agm-circle
              *ngIf="showCircle === true"
              [latitude]="currentPlace.lat"
              [longitude]="currentPlace.lng"
              [radius]="radius"
              [fillColor]="'red'"
            >
            </agm-circle>
          </agm-map>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
